@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script");

table#io-list {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: 30px auto;
}

table#io-list th,
table#io-list td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

table#io-list td {
  cursor: pointer;
}

table#io-list tr:nth-child(even) {
  background-color: #f1f1f1;
}

table#io-list tr:nth-child(odd) {
  background-color: #fff;
}

table#io-list tr:nth-child(n + 2):hover {
  background-color: #ccc;
}

table#io-list #update {
  border: 1px solid rgb(102, 0, 150);
  outline: none;
  background-color: rgb(102, 0, 150);
  color: white;
  padding: 2px 3px;
  border-radius: 3px;
  text-decoration: none;
}

table#io-list #update:hover {
  background-color: white;
  color: rgb(102, 0, 150);
}

table#io-list #delete {
  border: 1px solid rgb(153, 0, 102);
  outline: none;
  background-color: rgb(153, 0, 102);
  color: white;
  padding: 2px 3px;
  border-radius: 3px;
  text-decoration: none;
}

table#io-list #delete:hover {
  background-color: white;
  color: rgb(153, 0, 102);
}

div#io-link-box {
  width: 90%;
  margin: 10px auto;
  text-align: right;
}

div#io-link-box a {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(000, 000, 051);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

div#io-link-box a:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}
